
*.cpp

CellularAutomataOfxApp.xcodeproj/project.xcworkspace/xcuserdata/davidedellacasa.xcuserdatad/UserInterfaceState.xcuserstate

*.

CellularAutomataOfxApp.xcodeproj/project.xcworkspace/xcuserdata/davidedellacasa.xcuserdatad/UserInterfaceState.xcuserstate
